@charset "utf-8";
/* CSS Document */
.Tbody{
	padding-top:20px}
.word_explain{
	border-bottom:1px dashed #ccc;margin:0px 10px}
.grounp_l,.btnsubmit{
	width:971px;margin:0px auto}
.grounp_l{
	width:971px;margin:25px auto 10px auto;}
.groTitle{
	height:32px;line-height:32px;}
.groTitle span{
	font-weight:bold;color:#fff;font-size:14px;}
.groTitle .txt_title,.groTitle .group_poll{
	display: inline-block;height: 100%;
}
.groTitle .txt_title{
	padding-left:1em;
}
.groTitle .group_poll{
	padding-right:1em;
}
.groContent{
	border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;min-height:100px}
.optlist:after {
	content:"."; display:block;height:0; overflow:hidden;clear:both; visibility:hidden;} 
.optlist{
	zoom:1;}
.optlist li{
	height:auto;float:left;margin:10px 30px 10px 20px;overflow:hidden;width:140px;}
.optlist li a{
	display:block;height:180px;width:135px;padding:1px;border:1px solid #ccc;float:left; overflow:hidden; text-align:center; position:relative;}
.optlist li a img{position:relative; vertical-align:text-top;}
.optlist li	input{
	vertical-align:middle; text-align:center;margin-top:8px;margin-left:35px;display:block;float:left}
.optlist li	label{
	margin-top:8px;display:block;float:left;margin-left:4px}

.btnsubmit input{
	width:77px;height:35px;background:url(../images/btnsub.gif) no-repeat; cursor:pointer;border:none;display:block;float:right}
.copyright{
	height:30px;line-height:30px;color:#fff;background:#0561b4;width:971px;margin:0px auto}	
.copyright a{
	color:#fff;}