@charset "utf-8";
/* CSS Document */

*{ padding:0px; margin:0px;}
body{ font-family:"宋体"; font-size:12px; color:#222222;}
img{border:none;}
ul{ list-style:none;}
a{ color:#222222; text-decoration:none;}
a:hover{ color:#067BC0; text-decoration:none;}
.l{ float:left;}
.r{ float:right;}
.Tbody{ width:1000px; margin:0 auto; background:url(../images/shadow_bj.jpg) bottom repeat-x #fff; padding-bottom:10px;overflow: hidden;}
.space_r10{ padding-right:10px;}
.clear{ clear:both;}
.logo_bj{ background:url(../images/logo_bj_blue.jpg) repeat-x;}
.logo{ width:1000px; margin:0 auto; height:100px; background:url(../images/logo_bj.jpg) no-repeat;}
.logo a{ display:block; width:85px; margin:24px 10px 0px 0px; color:#fff; text-align:center; text-decoration:none;}
.logo img{ margin:0px 19px 6px 19px;}
.logo a img{ border:none; }
.logo a:hover{ text-decoration:none;}
.mininav{
	width:100%;
	height:35px;
	background:url(../images/position.jpg) repeat-x;
}
.position{ width:1000px; margin:0 auto; height:35px; line-height:35px;}
.position_tit{ display:block; background:url(../images/icon_position.gif) 3px 10px no-repeat; padding-left:20px;}
.del{ height:39px; line-height:38px; padding-left:10x; background:#F4F5FA; margin:0px 3px 3px 3px;}
.btn_add{ display:block; float:right; width:94px; height:30px; line-height:29px; background:url(../images/btn_add.jpg) no-repeat; color:#fff; margin:5px 5px; padding-left:26px;}
.btn_modify{display:block;background:url(../images/icon_alter.png) no-repeat;width:16px; height:16px;}
.tab a:hover{ text-decoration:none;}
.del a:hover{ text-decoration:none;}
.copyright{ height:25px; line-height:25px; text-align:center; color:#222222;}
.explain{ padding:10px 0px 15px 37px; line-height:18px;}
.wordTitle{font-size:14px; padding-left:10px;}
.fontB{font-weight:bold;}

a.add{ display:inline-block; width:16px; height:16px; background:url(../images/icon_add.jpg) no-repeat; margin:3px 0px 0px 5px;}
a.delect{ display:inline-block; width:13px; height:17px; background:url(../images/icon_del.gif) no-repeat; margin:5px 10px 0px 2px;}
a.ico_setting{
	display:inline-block; background:url(../images/set.gif) no-repeat;
	height:16px;
	line-height:16px;
	padding-left:18px;
}
.ico_person{
	display:inline-block; background:url(../images/member_set.gif) no-repeat;
	height:16px;
	line-height:16px;
	padding-left:18px;
}

.errorMessage,ul.errorMessage li { border: 1px dotted #BB0000; color: #BB0000; }
.actionMessage,ul.actionMessage li { border: 1px dotted #390; color: #390; background: url(../images/icon_succ.jpg) no-repeat .5em center; }
.infoMessage,ul.infoMessage li { border: 1px dotted #390; color: #390; background: url(../images/icon_warn.jpg) no-repeat .5em center; }
.errorMessage,.actionMessage,.infoMessage{
	padding:.5em .5em .5em 2em;
	margin:.5em 4em;
}
ul.errorMessage,ul.actionMessage,ul.infoMessage{
	background-image: none;
	padding:.5em .5em .5em 0;
}
ul.errorMessage li,ul.actionMessage li,ul.infoMessage li{
	line-height:1.5em;
	padding-left:2em;
	border:none;
}


table.tbl_dialog{
	margin:0 auto;
	border: none;
	border-collapse:collapse;
}
table.tbl_dialog tr th,table.tbl_dialog tr td{
	line-height: 2em;
	padding: .2em .5em;
	border: 1px solid #999;
}
table.tbl_dialog tr th{
	background-color: #C8E6FF;
	text-align: right;
	padding-right:.5em;
	/*font-weight: normal;*/
}
table.tbl_dialog tr td{
	text-align: left;
}

.warn{
	padding:2px 0 2px 0;
	padding-left:20px;
	color:#A2A2A2;
	background: url(../images/icon_prompt.gif) 0px center no-repeat;
}
.icon_waiting{
	background: url(../images/icon_waiting.gif) 5px center no-repeat;
	padding-left:30px;
	text-align:left;
}

.dialog_tbl{
	width: auto;
	margin: 0 auto;
}
.dialog_tbl tr th{
	font-weight:normal;
	background:none;
}
.dialog_tbl,.dialog_tbl tr td,.dialog_tbl tr th{
	border:none;
	background:none;
}

label.error{
	 border: 1px dotted #BB0000;color: #BB0000; background: url(../images/icon_error.jpg) no-repeat 2px center;padding-left: 20px;padding-right:.5em;margin-left:.5em;
}
