body{ margin:0; padding:0;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font30{ font-size:30px;}
.font18{ font-size:18px;}
.fontfamily1{ font-family:"微软雅黑";}
.fontgray{ color:#333;}
.fontgray2{ color:gray;}
.fontred{ color:#F00;}
.fontblack{ color:#000;}
.fontblue{ color:#012559;}
.fontorange{ color:#FCB480;}
.fontwhite{ color:#FFF;}
.lh{ line-height:24px;}
.lh2{ line-height:50px;}
.lh3{ line-height:35px;}
.underline{ text-decoration:underline;}
.fontb{ font-weight:bold;}
.tc{ text-align:center;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl25{padding-left:25px;}
.pt10{padding-top:10px;}
.pt30{padding-top:30px;}
.ml5{margin-left:5px;}
.ml2{margin-left:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr60{margin-right:60px;}
.ml10{margin-left:10px;}
.ml70{margin-left:70px;}
.mt4{margin-top:4px;}
.mt15{margin-top:15px;}
.mb5{ margin-bottom:5px;}
.mb30{ margin-bottom:30px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.pr5{ padding-right:5px;}
.pr25{ padding-right:25px;}
.bb{ border-bottom:2px solid #A7D5FC; display:block; }
.rf{ float:right;}
.lf{ float:left;}
.db{ display:block;}
.di{ display:inline;}
.dib{ display:inline-block;}
a:link{ color:#012559; text-decoration:underline; }
a:visited{ color:#012559; text-decoration:none; }
a:hover{ color:#012559; text-decoration:underline; }





.top{ width:100%; height:142px;background:url(../images/index_top_bg.gif) repeat-x;}
.top span{ height:35px; line-height:35px; float:right; margin-right:114px; }
.top span a:link{ color:#333; text-decoration:none; }
.top span a:visited{ color:#333; text-decoration:none; }
.top span a:hover{ color:#03F; text-decoration:underline; }
.logo{ width:500px; height:58px; background:url(../images/index_logo.gif)no-repeat; margin-left:130px;margin-top:40px; display:inline-block;}
.logo span{width:500px;height:58px; line-height:58px; font-size:30px; font-family:"华文行楷"; text-indent:185px; } 



.nav{ width:100%; height:43px;background:url(../images/index_nav.gif) repeat-x; padding:0; margin:0; }
.nav span{ float:right; margin:0; margin-right:114px;padding:0; padding-top:8px; }
.nav select{border:#3FB4FD solid 1px; width:100px; height:27px;  }
.nav input{border:#3FB4FD solid 1px; width:100px; height:24px;line-height: 27px }


.banner{ width:100%; height:602px; background-image:url(../images/banner_bg.jpg); background-size:100%; margin:0; padding:0;}




.context{ width:1003px; height:1174px; background:url(../images/index_bg.gif); border:1px #ccc solid; margin:10px auto; padding:0;}
.pj{margin-top:20px; margin-left:25px; height:40px; }
.pj .zx{ font-size:25px; height:40px; line-height:40px; float:left;} 
.col{ background:url(../images/col_bg.jpg); width:956px; height:336px; margin:20px auto;}
.tit{ margin-top:20px; margin-left:25px; display:inline-block;float:left; }
.x{ margin-top:10px; margin-right:15px; height:17px;}
.bj{width:17px; height:17px; background:url(../images/index_bj.gif) center center no-repeat; display:inline-block; }
.cx{width:17px; height:17px; background:url(../images/index_cx.gif) center center no-repeat; display:inline-block}
.tj{width:17px; height:17px; background:url(../images/index_tj2.gif) center center no-repeat; display:inline-block; }
.gb{width:17px; height:17px; background:url(../images/index_x.gif) center center no-repeat; display:inline-block; }
.x a:link{ color:#012559; text-decoration:underline; }
.x a:visited{ color:#012559; text-decoration:none; }
.x a:hover{ color:#012559; text-decoration:underline; }
.pjimg{ width:204px; height:241px; display:block; margin-left:70px; clear:left;float:left; }
.wz{width:463px; height:67px; float:left; margin-top:30px; margin-left:100px; line-height:170%;}
.tp1{ border:none; width:228px; height:56px; margin-top:20px ; margin-left:115px;}
.tp2{ border:none; width:228px; height:56px; margin-top:20px ; margin-left:115px;}
.wz1{width:463px; line-height:200%; padding-top:10px; display:inline-block; text-align:center;}

.page1{width:470px; height:42px;   margin:10px auto; padding:0;  }
.page{ width:400px; margin:10px auto; padding:0;  }
.n{ border:1px #ccc solid; height:22px; display:inline-block; line-height:22px;}

.ym{border:#ccc 1px solid; width:20px; height:22px; }
.page img{width:7px; height:22px; margin:0; padding:0; border:none; clear:left; display:inline-block}
.page a:link{ color:#000; text-decoration:none; }
.page a:visited{ color:#000; text-decoration:none; }
.page a:hover{ color:#03F; text-decoration:underline; }
.button{ width:100%; height:56px; background:url(../images/index_btn_bg.gif) repeat-x; line-height:56px;}

.toViewSpan{width:67px; height:22px; background:url(../images/pj_ck.gif) repeat-x; cursor: pointer;display: block;margin: auto;}
.icon_tijiao{width:102px; height:36px; background:url(../images/pj_tj.gif) repeat-x; cursor: pointer;display: block;float: right;margin: 10px 50px;}
