/*pub-1|2013-04-01 15:42:52*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:
focus{outline:0;}
a:active{outline:none;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
body{font:normal 62.5%/1.5 Helvetica,Arial,sans-serif;letter-spacing:0;color:#434343;padding:0;position:relative;}
#container{width:580px;padding:10px;margin:0 auto;position:relative;z-index:0;}
#example{width:600px;height:350px;position:relative;}
#ribbon{position:absolute;top:-3px;left:-15px;z-index:500;}
#frame{position:absolute;z-index:0;width:1156px;height:461px;top:-3px;left:-284px;}
#slides{position:absolute;top:40px;left:-284px;z-index:100; width:1156px; height:500px; }
#slides .next,#slides .prev{position:absolute;top:170px;left:0px;width:72px;height:121px;display:block;z-index:101;}
.slides_container{width:1156px;height:500px;overflow:hidden;position:relative;}
.slides_container a{width:1156px;height:500px;display:block;}
#slides .next{left:1063px;}
#content{float:left;width:350px;font-size:1.3em;margin-right:20px;font-size:1.3em;}
#content h1{margin:0 0 0 -4px;}
.pagination{margin:26px auto 0;width:100px;}
.pagination li{float:left;margin:0 1px;}
.pagination li a{display:block;width:12px;height:0;padding-top:12px;background-image:url(../images/t1qkb3xxxxxxaswug.-12-25.png);background-position:0 0;float:left;overflow:hidden;}
.pagination li.current a{background-position:0 -12px;}
a:link.download,a:visited.download{margin-left:-5px;display:block;width:200px;height:0;padding-top:55px;overflow:hidden;background-image:url(btn-download.png);background-position:0 0;}
a:hover.download,a:active.download{background-position:0 -55px;}
#instructions{float:left;width:580px;font-size:1.3em;}
#footer{float:left;width:580px;margin-top:9px;margin-bottom:9px;padding:4.5px 0 18px;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
#footer p{margin:4.5px 0;font-size:1.0em;}
pre{margin:0 0 18px;padding:.5em;font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;text-shadow:none;clear:both;}
ul.examples{list-style:disc;margin:-9px 0 9px 14px;}
p{margin:9px 0;}
em{font-style:italic;}
a:link,a:visited{text-decoration:none;}a:hover,a:active{text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-weight:800;line-height:1;margin:0 0 .9em;letter-spacing:-0.5px;color:#0e152b;}
h1{font-size:1.8em;line-height:1.25;margin:0 0 .4em;padding:.22em 0 0;}h2{font-size:1.3em;line-height:1.25;margin:0 0 .4em;padding:.22em 0 0;}
h3{font-size:1.3em;padding:.22em 0 0;margin:0;}
h4,h5,h6{font-size:1.1em;padding:.44em 0 4.5px;margin:0;}
h4.example{float:left;}
p{margin:0 0 .9em;}
small{display:block;font-size:.9em;margin:0 0 .9em;}
.expand{margin:0 0 9px;position:relative;}
.expand pre{margin:9px 0;}
.expand h4{font-size:1.1em;}
.expand .content{display:none;overflow:hidden;}
.expand .content .inner{margin:.56em 0;display:none;}
.expand p{font-size:.9em;margin:0;}
.expand small{color:#838383;}
#content .expand small{position:static;}
.expand h5{font-size:1.1em;padding:.88em 0 0;}
strong{font-weight:bold;}
.hidden{display:none;}
.DlHighlight{margin-left:10px;background-color:transparent;border-left:1px solid #ccc;padding-top:0;padding-bottom:0;}