@charset "utf-8";
/* CSS Document */
.tit{ line-height:46px; margin:10px; background:#F3F5FB; color:#999A9D; padding-left:10px; vertical-align:middle; font-size:14px;}
.btn{ display:block; width:125px; height:34px; line-height:34px; text-align:center; padding-left:10px; background:url(../images/btn_assess.gif); float:right; margin:6px 10px 0px 0px; font-weight:bold; color:#FFF;}



/*步骤*/
.step1,.step2,.step3,.step4,.step5,.step1_select,.step2_select,.step3_select,.step4_select,.step5_select{ float:left; width:133px; height:38px; background:url(../images/step_pic.jpg);}
.step1{ background-position:0px 0px; margin:0px 0px 10px 100px; display:inline;}
.step2{ background-position:0px -38px; margin:0px 0px 10px 30px; display:inline;}
.step3{ background-position:0px -76px; margin:0px 0px 10px 30px; display:inline;}
.step4{ background-position:0px -114px; margin:0px 0px 10px 30px; display:inline;}
.step1_select{ background-position:0px -152px; margin:0px 0px 10px 100px; display:inline;}
.step2_select{ background-position:0px -190px; margin:0px 0px 10px 30px; display:inline;}
.step3_select{ background-position:0px -228px; margin:0px 0px 10px 30px; display:inline;}
.step4_select{ background-position:0px -266px; margin:0px 0px 10px 30px; display:inline;}
.step5{ background-position:0px -304px; margin:0px 0px 10px 20px; display:inline;}
.step5_select{ background-position:0px -342px; margin:0px 0px 10px 20px; display:inline;}
.dashed{ border-bottom:1px dashed #A4A4A6; margin:0px 5px 0px 5px; margin-bottom:10px;}



/*step1*/
.info{ width:920px; margin:0 auto; border:1px solid #A3DFFB; margin-bottom:10px;}
.prompt{ float:left; display:inline-block; width:20px; height:35px; background:url(../images/icon_prompt.gif) 0px center no-repeat;}
.grey{ color:#A2A2A2; line-height:35px;}
.table_w{ width:700px; margin:0 auto; margin-top:20px; margin-bottom:15px; border:none;}
.info_input{ width:220px;}
.time_input{ width:84px;}
.more_choose{ float:left; display:inline; margin:10px 3px 0px 0px; _margin:7px 3px 0px 0px;}
.choose_member{ width:180px; padding-left:5px; height:22px; line-height:22px; color:#919191; border:1px dashed #A2A2A2; background:#F4F4F4; cursor:pointer;}
textarea.comment{ width:255px; height:100px;}
.inputbox_num{ width:40px; margin-right:5px;}
.textbox{ width:200px; margin-top:10px;}
.table_w tr td table.table_w tr td{height: 27px;}


/*step2*/
.step2_tab{ width:930px; margin:0 auto; margin-bottom:10px; border-collapse:collapse;}
.step2_tab td{border:1px solid #B5DAF4;padding:5px;}
.bg1{ background:#B5DAF4;}
.bg2{ background:#C8E6FF;}
.bg3{ background:#F1F8FE; font-weight:bold; text-align:center;}
.bg4{ background:url(../images/td_bg.jpg) top repeat-x #fff; min-height:40px;}
.group span{ display:inline-block;width:6em; line-height:24px;}
.member_set{ float:right; width:80px; }
.icon_member_set{ display:inline-block; width:17px; height:13px; background:url(../images/member_set.gif) no-repeat left center;}
.all{ display:inline-block; margin-right:5px;}
.bg2 a:hover{ text-decoration:none; color:#fff;}
.bg2 input{ _margin-top:0px;}
.bg4 ul li input{ _margin-top:3px;}
.choose_group{ float:right; margin:12px 36px 0px 5px;}
.choose_del{ height:30px; margin-left:46px;}
.btn_del{ width:50px; height:20px; line-height:20px; cursor:pointer; background:url(../images/btn_del_bg.jpg); border:1px solid #a4a4a4;}



/*step3*/
.routine{ width:910px; margin:0 auto; height:34px; background:#C8E6FE; border-top:1px solid #B8DBF7; border:1px solid #B9DBF7; margin-bottom:10px;}
.routine_tit{ font-weight:bold; line-height:34px; padding-left:10px;}
.routine a:hover{ text-decoration:none;}
.btn_choice{ display:block; float:right; width:62px; height:24px; line-height:24px; background:url(../images/btn_choice.jpg) no-repeat; color:#0966E9; font-weight:bold; margin:5px 5px 0px 0px; padding-left:28px;}
.content{ float:left; width:260px; height:206px; margin:10px 11px 8px 50px; background:url(../images/shadow_left.jpg) no-repeat right #F7F7F7; display:inline;}
.bk{ width:252px; height:198px; border:1px solid #CED2DB;}
.content_tit{ height:26px; line-height:26px; background:#EEEFF3; border-top:1px solid #fff;  padding-left:5px;}
.content_foot{ height:32px; line-height:38px; margin:0px 8px 0px 8px; background:url(../images/line_cut.jpg) repeat-x top; font-weight:normal; color:#8C8C8C;}
.close_wrong{ float:right; display:block; width:18px; height:26px; background:url(../images/icon_close.jpg) no-repeat 0px 7px; cursor:pointer;}
.shadow_bottom{ height:8px; background:url(../images/shadow_bottom.jpg) right bottom no-repeat; _display:inline;}
.bk ul{ height:120px; margin:10px 0px 0px 18px; line-height:26px;}
.leaf{ display:block; float:left; width:15px; height:32px; background:url(../images/leaf.gif) no-repeat 0px 13px; margin-right:5px;}
.set{ display:block; float:right; width:16px; height:32px; background:url(../images/set.gif) no-repeat 0px 10px; cursor:pointer;}
.only{ width:88%; margin:0 auto; padding-bottom:10px;}
.only li{ border-bottom:1px dashed #B4B2BD; height:30px; line-height:30px;}
.next{ float:right; width:90px; height:22px; border:1px solid #888888; background:url(../images/btn_del_bg.jpg) repeat-x; cursor:pointer; margin:0px 38px 30px 0px;}

/*new step3*/
.operate_explain{ padding: .5em;}
.operate_explain P{
	padding-left:2em;
	line-height:1.5em;
}
.tree1{ float:left; width:369px; margin:0px 40px 10px 20px; display:inline;}
.tree2{ float:left; width:369px; margin-bottom:10px;}
.tree_tit{ height:38px; line-height:38px; width:100%; background:url(../images/treetit_bg.gif) no-repeat; color:#fff; font-size:14px; font-weight:bold; padding-left:5px;}
.tree_content{ border:1px solid #E2E0E1; border-top:none; height:481px; overflow:auto; background:#F4F2F3; padding:8px;}
#ashcan{width:90px;height:104px;background:url(/themes/theme/1/css/images/lj.gif) no-repeat;}
.ico_remark{
	text-align:left;
	background:url(../images/icon_assess_explain.gif) no-repeat;
	padding:0.2em 0 0.2em 25px;
	font-size:14px; 
	font-weight:bold; 
	color:#3C8DCF;
}

/*step4*/
.rank_tab{ width:924px; margin:0 auto; margin-top:10px; margin-bottom:5px; border:1px solid #C8E6FF; border-collapse:collapse;}
.rank_tab tr{border-bottom:1px solid #C8E6FF;}
.rank_tab td{ border:none; line-height:18px; padding:5px;}
.jury_group li{ display:inline-block; width:11em;line-height:16px; height: 16px;margin: .5em;}
.person{ display:inline-block; width:16px; height:16px; background:url(../images/person.gif) no-repeat;}
.single{ display:inline-block; margin:5px 5px 5px 5px;}

.group_name{
	display:inline-block;
	cursor:pointer;
	max-width:7.5em;
	white-space:nowrap;
	overflow:hidden;
}

/*step5*/
.weight_tab{ width:924px; margin:0 auto; border-collapse:collapse; margin-bottom:10px;}
.weight_tab td{ border:1px solid #8AC1E8; line-height:30px; padding-left:8px;}
.weight_tab tr th{ background:url(../images/tabTit_bg.gif) repeat-x; height:30px; line-height:30px; border:1px solid #8AC1E8; border-right:1px solid #74afd8;}
.w3{ width:30%;}
.w1{ width:10%;}
.text_w{ width:50px;}
.down_arrows{ display:inline-block;cursor:pointer; width:9px; height:10px; background:url(../images/icon_open.png) no-repeat;}
.select_bg{ background:#EBF7FF;}

.tbl_container{
	margin:10px;
	overflow:auto;
}
.tbl_container .weight_tab{
	width: auto;
	min-width:924px;
	_width:924px;
}
.tbl_container .weight_tab tr th,.tbl_container .weight_tab tr td{
	padding-right:.5em;
	padding-left:.5em;
	white-space: nowrap;
}