.top1{ width:100%; height:134px;   background:url(../images/1top.gif ); background-size:100%; }
.top1 span{ height:35px; line-height:35px; float:right; margin-right:114px; }
.top1 span a:link{ color:#fff; text-decoration:none; }
.top1 span a:visited{ color:#fff; text-decoration:none; }
.top1 span a:hover{ color:#03F; text-decoration:underline; }
.logo1{ width:700px; height:58px; background:url(../images/index_logo1.gif)no-repeat; margin-left:130px;margin-top:40px; display:inline-block;}
.logo1 span{width:256px;height:58px; line-height:58px; font-size:30px; font-family:"华文行楷"; clear:right; margin:0; padding:0; float:left; padding-left:65px;} 
.c{ margin:0;padding:0; display:block; width:1000px;width:100%; background:url(../images/1_bg.jpg) no-repeat; background-size:100%; margin:0 auto;  }
.c2{ margin:0 auto;padding:0; display:block; width:1000px; }
.list{  display:inline-block;width:1000px; height:100%; min-height:500px; height:auto !important; margin:20px; margin-bottom:0px; padding:0; background:#FFF; }

.leftlist{ width:230px; height:400px;float:left; margin-left:20px; }
.leftlist ul{ list-style:none; margin:0; padding:0;}
.leftlist li{width:197px;   height:52px; border:1px #54adff solid; border-bottom:none; line-height:53px; text-indent:40px; display:block; }


.leftlist ul li a:link{width:212px; height:52px; display:block; color:#333; text-decoration:none;}
.leftlist ul li a:visited{ color:#333; text-decoration:none; width:212px; height:52px; display:block;}
.leftlist ul li a:hover,.leftlist ul li .active{color:#012559; text-decoration:none;width:230px; height:52px; display:block; background:url(../images/1_r4_c4.gif) no-repeat;}

.rightlist{ width:700px; float:left;  }
.ipt1{width:241px; height:28px;line-height:28px; border:1px solid #54aefe;}
.ipt2{width:150px; height:28px;line-height:28px; border:1px solid #54aefe;}
.ipt3{width:50px; height:21px;line-height:21px; border:1px solid #ccc; }
.ipt4{width:30px; height:21px;line-height:21px; border:1px solid #ccc; }
.slt1{width:245px; height:32px;line-height:32px; border:1px solid #54aefe;}
.slt2{width:65px; height:25px;line-height:25px; border:1px solid #54aefe;}
.btn{ float:right; margin-right:70px; margin-top:50px; margin-bottom:50px;}
.icon1{ background:url(../images/1_icon.gif) no-repeat; width:12px; height:12px;float:left; display:inline;}
.icon2{ background:url(../images/1_icon2.gif) no-repeat 0 5px; width:17px; height:50px;float:left; display:inline;}
.icon_unfold{ background:url(../images/unfold.gif) no-repeat 0 3px; width:13px; height:13px;float:left; display:inline;}
.ico_unfold{background:url(../images/ico_unfold.gif) no-repeat 0 3px;width:15px; height:15px; float:left; display:inline;}
.icon_r{background:url(../images/r.gif) no-repeat; width:18px; height:18px;float:right; display:inline;}
.icon_x{background:url(../images/x.gif) no-repeat; width:18px; height:18px;float:right; display:inline;}
.icon_xx{background:url(../images/xx.gif) 0 7px no-repeat; width:18px; height:18px; display:inline-block}
.icon_ts{background:url(../images/ts.gif) 0 7px no-repeat; width:18px; height:18px; display:inline-block}
.icon_pj{ background:url(../images/icon_pj.gif) 0 5px no-repeat; width:29px; height:31px; display:inline-block; margin:0; padding:0; margin-top:5px;  }
.line{ border-bottom:#ccc dashed 1px; }
.border{ border:#CCC 1px solid;}
.border2{ border:#03ACFB 1px solid;}
.k{ height:200px;}
.k2{ height:120px;}
.k3{ height:500px;}
.qc a:link{ color:#333; text-decoration:underline; }
.qc  a:visited{ color:#333; text-decoration:underline; }
.qc a:hover{ color:#03F; text-decoration:underline; }
.t{ display:block; }
.zb1{ width:266px; height:300px; margin-top:20px; margin-left:20px; float:left;}
.zb2{ width:266px; height:300px; margin-top:20px; margin-left:10px; float:left;}
.zbtop{ height:30px; background:url(../images/zbtop.gif) no-repeat; line-height:30px;}
.zbm{ height:auto; height:100%; border-left:1px solid #54aefe; border-right:1px solid #54aefe;}
.zbbtn{ height:22px; background:url(../images/zbbtn.gif) no-repeat;}
ul{ list-style:none; padding:0; margin:0;}
li{list-style:none; padding:0; margin:0; line-height:24px;}


.lj{ margin-top:270px; margin-left:5px;}
.jr{ background:url(../images/jr.gif) center center no-repeat; width:30px; height:350px; float:left; margin-left:10px;  }
.sz{ width:500px; height:100%; min-height:200px; height:  !important;  margin:150px auto; border:#CCC 1px solid; }
.xz{ margin-left:80px; margin-top:40px;}
.qd{ margin-left:130px; margin-top:30px; margin-bottom:20px;}
.qdqx{ margin-left:35px; margin-top:30px; margin-bottom:20px; }
.pj_tit{ background:url(../images/pj_line.gif) 40px bottom  no-repeat; line-height:40px; height:40px;  padding:0; margin:0; margin-left:30px;    margin-top:40px; display:flex; width:92%; }

.pj_z{ padding:20px; line-height:200%; padding-bottom:0; width:89%; text-indent:25px; padding-left:70px;padding-right:50px;}
.pj_xz{ background:url(../images/pj_xz.gif); width:107px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis; height:40px; line-height:40px; display:inline-block; cursor:pointer;}
.pj_xz2{ background:url(../images/pj_xz2.gif);width:107px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis; height:40px; line-height:40px; display:inline-block;cursor:pointer;}

.txjp a:link{ color:#333; text-decoration:none; }
.txjp  a:visited{ color:#333; text-decoration:none; }
.txjp  a:hover{ color:#03F; text-decoration:underline; }
.pxtp{  height:277px; border:1px solid #ccc; margin-top:20px; background:url(../images/tp_bg.gif) repeat-x bottom ; width:88% ; margin-left:70px;}
.pxtp h1{width:100%;  height:40px; padding:0; margin:0; background:url(../images/tp.gif) left center no-repeat #E7F1FD; line-height:40px; text-indent:10px; font-weight:normal;}
.button2{ width:100%; height:139px; background:url(../images/1_btn.jpg) ; background-size:100%; line-height:180px;}