@charset "utf-8";
/* CSS Document */

.tab{ width:100%; margin-top:20px;}
.tab tr{ height:35px;}
.tab tr td{ border:1px #ccc solid;}
.tab .bg1{ background:#E3E1E1}
.tab .bg2{ background:#f3f3f3;}


.tab1{ width:100%;}
.tab1 tr td{ border:none;}
.tab1 .bg1{ background:#E3E1E1}
.tab1 .bg2{ background:#f3f3f3;}


.tab2{ width:88%;  margin:0 auto; margin-top:20px; margin-left:70px; }
.tab2 tr{ height:40px;}
.tab2 tr td,.tab2 tr th{ border:1px #03ACFB solid;}
.tab2 tr th{ background:#A7D5FC; font-size:14px; }
.tab2 .bg1{ background:#DCEEFE}
.tab2 .bg2{ background:#F1F7FC;}
.tab3{ width:100%;}
.tab3 tr td{ border:none;}
