body {
	background:white;
}

#example {
	margin-left:auto;
	margin-right:auto;
	width:600px;
}
.tab-content {
	height:461px;
}
.tab-pannel {
	height:461px;
	position:relative;
}
.tab-pannel .tbg {
	width:100%;
	height:100%;
}

.pr {
	position:relative;
}

.pa {
	position:absolute;
}

.sublayer1-1 {
	top:-62px;
	left:62px;
	width:171px;
}

.sublayer1-2 {
	top:-78px;
	left:384px;
	width:253px;
}

.sublayer1-3 {
	top:145px;
	left:237px;
	font-size:40px;
}

.sublayer1-4 {
	top:201px;
	font-size:21px;
	left:189px;
	color:green;
}

.sublayer1-5 {
	top:229px;
	font-size:19px;
	left:232px;
	color:olive;
	display:block;
	width:223px;

}

.sublayer2-1 {
	top:41px;
	left:56px;
	width:206px;
}

.sublayer2-2 {
	top:50px;
	left:310px;
	height:39px;
}

.sublayer2-3 {
	top:95px;
	left:320px;
	height:37px;
}

.sublayer2-4 {
	top:146px;
	left:342px;
	height:28px;
}

.sublayer3-1 {
	width:171px;
	top:117px;
	left:214px;
}

.sublayer3-2 {
	top:65px;
	left:277px;
	width:235px;
}

.sublayer3-3 {
	top:142px;
	left:336px;
	width:193px;
}

.sublayer3-4 {
	top:25px;
	left:274px;
	width:100px;
}

.sublayer3-5 {
	top:99px;
	left:17px;
}

.sublayer3-6 {
	top:154px;
	left:17px;
}

.sublayer3-7 {
	top:185px;
	left:17px;
}

.pn1 {
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}
.pn3 {

}
.pn3 h2 {
	background-color:#036d99;
	padding-left:5px;
	padding-right:5px;
	font-family:tahoma;
	font-size:17px;
	color:white;
}

.pagination {
	width:45px;
}