@charset "utf-8";

#tanMain-user .tanTop {
	text-align: right;
	padding:5px 0;
}

#tanMain-user .tanTop input,#tanMain-user .tanTop select {
	vertical-align: inherit;
}

#tanMain-user .btnbd {
	padding: 2px 8px;
	cursor: pointer;
	margin: 0px 4px;
}

#tanMain-user .tanTop span {
	margin: 0px 5px;
	display: inline-block;
	line-height: 30px;
}

#tanMain-user .tanLeft {
	border: 1px solid #0275ac;
	width: 170px;
	float: left;
	min-height: 402px;
	background: #e7f4fa
}

#tanMain-user .tanLeft .tanLUI {
	padding: 0px;
	margin: 0;
}

#tanMain-user .tanLeft .tanLUI li {
	line-height: 28px;
	background: url(../images/tanleftli.gif) repeat-x;
}

#tanMain-user .tanLeft .tanLUI li a {
	display: block;
	text-indent: 1.5em;
	font-weight: bold;
	color: #07568e;
}

#tanMain-user .tanLeft .tanLUI li ul {
	padding: 0px;
}

#tanMain-user .tanLeft .tanLUI li ul li {
	background: #fff
}

#tanMain-user .tanLeft .tanLUI li ul li a {
	font-weight: normal;
	text-indent: 2em;
	color: #000;
}

#tanMain-user .tanLeft .tanLUI li ul li:hover,#tanMain-user .tanLeft .tanLUI li ul li:hover a,#tanMain-user .tanLeft .tanLUI li ul li a:hover,#tanMain-user .tanLeft .tanLUI li ul li a.actived {
	background: #bdd3fc
}

#tanMain-user .tanRight {
	float: right;
	width: 620px;
}

#tanMain-user .tanRight .table0 {
	margin: 0;
	padding: 0;
	width:100%;
	border: 1px solid #d2d6d7;
	border-collapse: collapse;
}

#tanMain-user .tanRight .table0 th {
	border: 1px solid #d2d6d7;
	line-height: 28px;
	background: url(../images/tab0.gif) repeat-x;
	font-weight: normal;
	text-align: left;
	padding-left: 10px
}

#tanMain-user .tanRight .table0 td {
	border: 1px solid #d2d6d7;
	line-height: 32px;
	padding-left: 10px
}

#tanMain-user .tanRight .spanDis {
	display: inline-block;
	width: 98px;
	height: 30px;
	overflow: hidden;
}

#tanMain-user .toolbar-right {
	float: right;
	margin-right: .5em;
}

#tanMain-user a.icon-trash {
	background: url("../images/icons/icon-trash.png") no-repeat left center;
	padding-left: 14px;
}