@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { 
	margin:0; padding:0;}
.clear{clear:both;height:0px;line-height:0px;font-size:0px;}
.pl5{padding-left:5px;}		
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}	
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pt5{padding-top:5px;}	
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pb5{padding-bottom:5px;}	
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.ml5{margin-left:5px;}	
.ml8{margin-left:8px;}	
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mt2{margin-top:2px;}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.rf{float:right;}
.lf{float:left}	
input,textarea,select{margin:0;padding:0;outline:none;}														
body{font-size:12px;margin:0;padding:0}
a{color:#222222; text-decoration:none}
a:hover{color:#df6f09; text-decoration:none}
ul{list-style:none;}
a img,img{border:none}
input[type="checkbox"],input[type="radio"]{vertical-align:middle;margin-right:2px;}	

input{
	border-top:1px solid #abadb3;
	border-right:1px solid #dbdfe6;
	border-bottom:1px solid #e3e9ef;
	border-left:1px solid #dbdfe6;}	
.fontRed{color:red;}	
.fontLv{color:#167413;}	
.fontGray{color:#c0c0c0;}
.fontblue{color:#0876B2;}
.fontu{ text-decoration:underline;}
.fontb{ font-weight:bold;}
.fontblue2{ color:#054F90;}
.hg22{line-height:22px;}	
.hg24{line-height:24px;}

.txtinput{
	padding:0px;width:99%;height:22px;line-height:22px;text-indent:.5em;margin:2px 0px;border-top:1px solid #707070;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #707070}	
.txtarea{margin:0px;padding:0px;width:100%;height:100%;outline:none;resize:none;border:none;line-height:22px;overflow-y:scroll}	
.no_border{border:none;}	

.font_center{
	text-align:center;}
	
	/*背景颜色*/
.bgorange{
	background:orange}
.lheight20{
	line-height:20px;display:inline-block;padding:0px 5px;margin-left:1px;color:#fff}
.bggray{
	background:#9a9a9a}

