@charset "utf-8";
/* CSS Document */
body{
	height:auto;		
	background:#0261b1 url(../images/theme/bg.png) repeat-x;
	background-position:0 100%;
	background-attachment:fixed}
#top{
	width:100%;
	height:71px;
	background:url(../images/theme/topbg.png) repeat-x;}
#top .top{
	height:100%;
	padding:0px 10px;
	background:url(../images/theme/top.png) no-repeat;
	position:relative;}	
#top .t_logo{
	width:400px;
	height:100%;
	float:left;
	background:url(../images/theme/t_logo.png) no-repeat;}
#top .xk_logo{
	width:400px;
	height:100%;
	float:left;
	background:url(../images/theme/xk_logo.png) no-repeat;}
#top .xk_logo2{
	width:400px;
	height:100%;
	float:left;
	background:url(../images/theme/xk_logo2.png) no-repeat;}
#top .w_logo{
	width:400px;
	height:100%;
	float:left;
	background:url(../images/theme/w_logo.png) no-repeat;}
#top .x_logo{
	width:400px;
	height:100%;
	float:left;
	background:url(../images/theme/x_logo.png) no-repeat;}	

#top .s_logo{
	width:470px;
	height:100%;
	float:left;
	background:url(../images/theme/sxk_logo.png) no-repeat;}
				
#top .t_sign{
	width:240px;
	height:34px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-120px;
	background:url(../images/theme/sign.png) no-repeat}	
#top .t_sign span{
	margin-right:5px}	
#top .t_exit	{
	color:blue;
	text-decoration:underline;}
#top .t_icon{
	float:right;}	
#top .t_icon li{
	width:52px;
	height:68px;
	float:left;}	
.t_icon li .t1,.t_icon li .t2,.t_icon li .t3{
	display:inline-block;
	width:100%;
	height:100%;
	text-align:center;
	position:relative;
	vertical-align:bottom;
	background:url(../images/icon/desktopicon.png) no-repeat;}		
.t_icon li .t1{
	background-position:0px 0px}
.t_icon li .t2{
	background-position:-123px 0px}	
.t_icon li .t3{
	background-position:-183px 0px}	
.t_icon li a span{
	display:inline-block;
	width:100%;
	height:20px;
	line-height:20px;
	position:absolute;
	bottom:3px;
	left:0;}
	
.c_view{
	display:none};	
	
	
					
#cont{
	width:100%;
	height:100%;}
.centent{
	padding:0px 8px;}
.centent .left{
	width:159px;
	height:100%;
	display:block;
	min-height:660px;
	float:left;
	overflow:hidden;
	background:url(../images/theme/left.png) no-repeat;}
	
	

	
.baseUI{
	margin:0px;
	padding:0px;}
.baseUI > li{
	width:151px;
	margin:0px auto;
	line-height:40px;
	background:url(../images/theme/list_btn_li.png) no-repeat}	
.baseUI >.li2{	
    background:url(../images/theme/list_btn_li2.png) no-repeat}	
.baseUI>li>a{
	display:block;
	text-indent:1.5em;
	font-size:14px;
	color:#fff;
	font-weight:bold;}	

.baseUI>li>ul{
	padding:0px;
	margin:0px;}	
.baseUI>li>ul>li{
	width:138px;
	margin:0px auto;
	height:25px;
	line-height:25px;
	text-align:center;
	background:url(../images/theme/list_ui_li_def.png) repeat-x;}	
	
.baseUI>li>ul>li.current{
	background:url(../images/theme/list_ui_li_act.png) repeat-x;
	font-weight:bold;
	color:#fff;}	
	
.baseUI>li>ul>li.current>a{
	color:#fff}	
.baseUI .base_basicset,
.baseUI .base_userset,
.baseUI .base_teachergroup,
.baseUI .base_roll,
.baseUI .base_auth,
.baseUI .base_sys{
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:3px;
	vertical-align:middle;}	
.baseUI .base_basicset{
	background:url(../images/icon/icon_basic.png) no-repeat}
.baseUI .base_userset{
	background:url(../images/icon/icon_personnel.png) no-repeat}
.baseUI .base_teachergroup{
	background:url(../images/icon/icon_educational.png) no-repeat}
.baseUI .base_roll{
	background:url(../images/icon/icon_roll.png) no-repeat}
.baseUI .base_auth{
	background:url(../images/icon/icon_permission.png) no-repeat;}	
.baseUI .base_sys{
	background:url(../images/icon/icon_system.png) no-repeat;}		

	

.baseUI .base_tz,
.baseUI .base_kc,
.baseUI .base_xk,
.baseUI .base_tj,
.baseUI .base_xk2,
.baseUI .base_ss,
.baseUI .base_cz,
.baseUI .base_sz{
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:3px;
	vertical-align:middle;}	
.baseUI .base_tz{
	background:url(../images/icon/icon_tz.png) no-repeat}
.baseUI .base_kc{
	background:url(../images/icon/icon_kc.png) no-repeat}
.baseUI .base_xk{
	background:url(../images/icon/icon_xk.png) no-repeat}
.baseUI .base_xk2{
	background:url(../images/icon/icon_xk2.png) no-repeat}
.baseUI .base_tj{
	background:url(../images/icon/icon_tj.png) no-repeat}
.baseUI .base_ss{
	background:url(../images/icon/icon_ss.png) no-repeat;}	
.baseUI .base_cz{
	background:url(../images/icon/icon_cz.png) no-repeat;}		
.baseUI .base_sz{
	background:url(../images/icon/icon_sz.png) no-repeat;}	
/* 网站站点图标 */
.baseUI .po_site_set,
.baseUI .po_site_manage,
.baseUI .po_site_statis,
.baseUI .po_site_log{
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:3px;
	vertical-align:middle;}	
.baseUI .po_site_set{
	background:url(../images/icon/icon_basic.png) no-repeat}
.baseUI .po_site_manage{
	background:url(../images/icon/icon_personnel.png) no-repeat}
.baseUI .po_site_statis{
	background:url(../images/icon/icon_educational.png) no-repeat}
.baseUI .po_site_log{
	background:url(../images/icon/icon_roll.png) no-repeat}

/* 网站cms图标 */
.baseUI .po_cms_news,
.baseUI .po_cms_my_news,
.baseUI .po_cms_news_manage,
.baseUI .po_cms_news_statistics,
.baseUI .po_cms_set{
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:3px;
	vertical-align:middle;}	
.baseUI .po_cms_news{
	background:url(../images/icon/icon_basic.png) no-repeat}
.baseUI .po_cms_my_news{
	background:url(../images/icon/icon_personnel.png) no-repeat}
.baseUI .po_cms_news_manage{
	background:url(../images/icon/icon_educational.png) no-repeat}
.baseUI .po_cms_news_statistics{
	background:url(../images/icon/icon_roll.png) no-repeat}
.baseUI .po_cms_set{
	background:url(../images/icon/icon_permission.png) no-repeat;}	
	
	
/* 学生综合素质评价图标 */
.baseUI .stu_est_czjl,
.baseUI .stu_est_xypj,
.baseUI .stu_est_szpj,
.baseUI .stu_est_czbg{
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:3px;
	vertical-align:middle;}	
.baseUI .stu_est_czjl{
	background:url(../images/icon/icon_basic.png) no-repeat}
.baseUI .stu_est_xypj{
	background:url(../images/icon/icon_personnel.png) no-repeat}
.baseUI .stu_est_szpj{
	background:url(../images/icon/icon_educational.png) no-repeat}
.baseUI .stu_est_czbg{
	background:url(../images/icon/icon_roll.png) no-repeat}
.baseUI .po_cms_set{
	background:url(../images/icon/icon_permission.png) no-repeat;}	
	
	
	
	
		
				
.centent .right{
	background:#fff;
	border-radius:5px;
	height:auto;
	margin-left:160px;}		
#foot{
	height:22px;
	line-height:22px;
	padding:0px 8px;
	margin-left:159px;
	text-align:center;
	color:#fff}	
#foot a{
	color:#fff}	
/*bbs begin*/
#lt_bkgl{ line-height:38px; overflow:hidden;}
#lt_bkgl .bk{  border: solid 1px #cccccc; overflow:hidden;background-image:url(../images/icons/bkgl_tiao.png);}
#lt_bkgl .xxq{ margin-left:10px;font-size:14px;
			   color:#f1652f;font-weight:bold; float:left;}
.bk_fenzu{ border-left:1px solid #CCCCCC; 
		   border-right:1px solid #CCCCCC;overflow:hidden;}
.bk_zu{    margin:4px 9px;width:48%; float:left; overflow:hidden;
		   border: solid 1px #cccccc;height:100px; 
		   background-color:#FFFFFF;
		   }	
.bk_wenan{ float:left;}
.bk_wenan li{ margin-top:9px;}
/*操作栏*/
.caozuo{ float:left; width:100%;height:28px; line-height:28px; background-color:#f4f4f4; border-bottom:solid 1px #d4cccc; border-top:solid 1px #d4cccc;}
.caozuo span{ float:left;margin-left:10px;}
/*页脚：注*/
.zhu{ float:left; width:100%;height:30px;line-height:30px; background-color:#f8fcfd;  border-bottom:solid 1px #d4cccc;
color:#cccccc;
}
.zhu1{ float:left; width:100%;height:30px;line-height:30px;color:#cccccc;}	
/*bbs end*/	
	
	
	
	
	
	
	