<style type="text/css">
/*css*/
*{ margin:0; padding:0;}
.z{ width:1330px;margin:0 auto; padding:0; }
body{ margin:0 auto; padding:0;}
a{ text-decoration:none; color:#406EBA;}
a:link{text-decoration:none; color:#406EBA;}
a:visited{text-decoration:none; color:#406EBA;}
a:hover{text-decoration:underline; color:#36F;}

/*头部*/
.top{ width:1330px;height:50px; background:#fff;}
.top img{ margin-left:184px; margin-top:5px; margin-right:5px; float:left;}
.topfont{ height:50px; font-size:20px; line-height:50px; font-family:"黑体"; margin:0; }













/*index中部*/
.mid{ width:1330px;height:456px; background:url(../images/zhmm/bg.gif);}
.content{width:992px;height:396px; background:#FBFCFD; margin-left:180px; margin-top:30px; display:inline-block; }
.content2{width:912px;height:326px;background:#FBFCFD;  padding:0;  margin-top:35px;display:inline-block; }
.contentfonth{font-size:18px; line-height:40px; font-family:"黑体";border-bottom:1px dotted #D6D7D7; margin-left:60px;    }
.input1{ width:388px; height:48px; border:#8BC3E7 solid 2px; background:#FFF; background:url(../images/zhmm/name.gif) no-repeat 15px 15px; text-indent:45px; margin:0; padding:0; margin-left:250px; margin-top:45px;display:block; float:left;}
.inputfont{font-size:18px; line-height:48px; font-family:"黑体"; color:#BBBCC1;  }
.input2{ width:334px; height:48px; border:#dddddd solid 1px; background:#FFF;  text-indent:15px; margin-left:250px; margin-top:33px; background:url() no-repeat right center; float:left;}
.sx{ width:55px; height:50px; background:url(../images/zhmm/sx.gif); float:left;margin-top:33px;cursor:pointer; }
.inputfont2{font-size:16px; line-height:48px; font-family:"黑体"; color:#BBBCC1; }
.input3{ width:388px; height:48px;background:#69B3F2; margin-left:250px; margin-top:33px; float:left;}
.inputfont3{font-size:22px; line-height:48px; font-family:"黑体"; color:#fff; text-align:center;}

/*index1中部*/

.font{font-size:35px; line-height:50px; font-family:"黑体";  padding-top:10px;  }
.contentfont1{ height:50px; font-size:20px; line-height:50px; font-family:"黑体"; margin:0; border-bottom:#69B3F2 3px solid; display:inline-block; float:left; margin-top:26px;}
.xy{ width:22px; height:27px; background:url(../images/zhmm/y.gif);float:left; margin:30px 110px; padding:0; display:block;  }
.font2{font-size:35px; line-height:50px; font-family:"黑体";margin:0;padding:0;  padding-top:10px; color:#D3D4D4; display:inline;  }
.contentfont2{ height:50px; font-size:20px; line-height:50px; font-family:"黑体"; margin:0;padding:0;  float:left; color:#D3D4D4; margin-top:26px; }
.content-1{ width:800px; height:130px; clear:left;  padding-top:50px;}
.contentfont-1{  font-size:20px; line-height:50px; font-family:"黑体"; text-indent:5px; float:left; padding-left:190px; margin-top:26px;cursor:pointer; }	
.wt{ width:50px; height:50px; background:url(../images/zhmm/wt.gif);display:block; float:left;} 


/*index2中部*/




.contentfont-2{font-size:20px; line-height:30px; font-family:"黑体"; text-indent:5px; float:left; padding-left:250px;  margin:0; margin-top:26px; }	
.yj{ width:67px; height:55px; background:url(../images/zhmm/yx.gif);display:block; float:left; margin:5px; padding:0; } 
.tishi{ width:67px; height:55px; background:url(../images/zhmm/tishi.png) no-repeat;display:block; float:left; margin:5px; padding:0; }
.contentfont-2a{  font-size:12px; line-height:70px; font-family:"黑体"; text-indent:80px; float:left; padding-left:250px; color:#949494; margin:0; }	

/*index3中部*/





.contentfont-3{ margin-left:250px; font-size:20px; line-height:48px; font-family:"宋体"; float:left;}	
.wt{ width:50px; height:50px; background:url(../images/zhmm/wt.gif);display:block; float:left;} 
.input-3{ width:388px; height:48px; border:#8BC3E7 solid 2px; background:#FFF;text-indent:45px; margin:0; padding:0; margin-left:250px; margin-top:15px;display:block; float:left; }



/*index4中部*/



.contentfont-4{font-size:20px; line-height:60px; font-family:"黑体"; text-indent:5px; float:left; padding-left:250px;  margin:0;  margin-top:26px;}	
.ok{ width:55px; height:55px; background:url(../images/zhmm/ok.gif);display:block; float:left; margin:5px; padding:0; } 


/*index5中部*/


.content-5{ width:900px; height:130px; clear:left;  padding-top:20px;}

.contentfont-5{  font-size:18px; line-height:48px; font-family:"黑体"; text-indent:60px; float:left;color:#D3D4D4;}	
.ts{ width:23px; height:23px; background:url(../images/zhmm/ts.gif); margin-left:30px; margin-top:15px; float:left; }
.input-5-1{ width:388px; height:48px; border:#8BC3E7 solid 2px; background:#FFF;text-indent:45px; margin:0; padding:0; margin-left:250px; margin-top:25px;display:block; float:left; background:url(../images/zhmm/jp.gif) no-repeat 15px 5px; }

.input-5-2{ width:388px; height:48px; border:#C2C2C2 solid 2px; background:#FFF;text-indent:45px; margin:0; padding:0; margin-left:250px; margin-top:25px;display:block; float:left; background:url(../images/zhmm/s.gif) no-repeat 15px 5px;}
.contentfont-5a{font-size:14px; line-height:48px; font-family:"黑体"; color:#b8b8b8;text-indent:5px; padding:0; display:block; padding-top:25px;}
.input3{ width:388px; height:48px;background:#69B3F2; margin-left:250px; margin-top:33px; float:left;}


.red_tishi{ width:128px; height:128px; background:url(../images/zhmm/red_tishi.png) no-repeat;display:block; float:left; margin:5px; padding:0; }

/*尾部*/
.bottom{ width:1330px;height:36px; background:#fff;}
.bottomfont{font-size:14px; line-height:36px; font-family:"宋体"; color:#b8b8b8; text-align:center; }
</style>


